.landing-container {
    background-image: url(../../assets/img/backgrounds/nosotros.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10vh;
    text-align: center;
}

.landing-text {
    margin: 3rem;
}

.greeting {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}