.product-card {
    width: 20%;
    margin:3%;;
}

.card-image {
    width: 15rem;
    
}

.card-text {
    font-size: 1rem;
    background-color: #ee7752;
    border-radius: 5px;
    margin-bottom: 0;
    padding: 1%;
}