.nav-wrapper {
    background: linear-gradient(-45deg, #ee7752, #00b347, #107631, blueviolet);
    font-size: large;
    font-weight: bold;   
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.logo-nav {
    width: 100px;
}

