@font-face {
  font-family: 'Pacifico', cursive;
  src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
}

@font-face {
  font-family: pantonRust;
  src: url(./assets/fonts/PantonRustHeavy-GrSh.otf);
  font-display: swap;
}

h1,h2,h3 {
  font-family: pantonRust;
  letter-spacing: .1em;
}

.loader {
  height: 90vh;
  width: 100vw;
  background-image: url(./assets/img/backgrounds/noticias.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}