.item-list-wrapper {
    background-image: url(../../assets/img/backgrounds/fondo-index.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 5vh;
    text-align: center;
}


.loader {
    height: 80vh;
    width: 100vw;
    background-image: url(../../assets/img/backgrounds/fondo-index.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}